{% section 'waitlist_banner' %}
<div class="bg_wait_carousel_and_logos">
{% section 'wait_carousel' %}
{% section 'waitlist_featured_on_logos' %}
{% section 'waitlist_featured_on' %}
</div>
{% section 'waitlist_no_jitters' %}
{% section 'waitlist_health_experts' %}
{% section 'waitlist_testimonials' %}
{% section 'waitlist_faq' %}
{% section 'wailtlist_accordian' %}
{% section 'waitlist_footer' %}
